.container{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    min-height: 95vh;
    background-color: rgb(201, 201, 201);
}
.user-profile{
    width: 50%;
    margin-top: 10%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    border: 1px solid black;
}

.profile-heading{
    width:100%;
    display:flex;
    justify-content:space-between;
    background-color:#8dccd4;
}
.profile-heading h1{
    margin-left: 10px;
}
.user-name-area{
    display:flex;
    align-items:center;
}
.user-name-area img, .user-name-area h4{
    margin-right:10px;

}
.body{
    padding: 5px 20px;

}
.form-container{
    background-color: #ffffff;
    box-shadow: rgba(2, 208, 245, 0.2) 0px 7px 29px 0px;
    height: fit-content;
    margin-top: 10%;
    padding: 20px 40px;
    border-radius: 7px;

}
.login-heading{
    text-align: center;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-input{
    margin-top: 10px;
}
input, select{
    font-size: 20px;
    padding: 5px 10px;
}
select{
    font-size: 20px;
    padding: 5px 10px;
    width: 100%;
}

.btn{
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    padding: 8px 50px;
    border-radius:3px;
}
.label{
    width: 100%;
    color: red;
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
}
.account-option{
    display:flex;
    justify-content:flex-end;
    width:100%;
}
.link{
    color:blue;
    text-decoration:underline;
    margin-left:10px;
    cursor: pointer;
}
p{
    font-size:15px;
}
.user-img{
    height:24px;
    width:24px;
}
.error{
    border:1px solid red;
}
.logout{
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 400px){
    input{
        font-size: 15px;
        padding: 3px 7px;
    }
    .form-container{
        padding: 10px 20px;
        border-radius: 7px;
    
    }
    p{
        font-size:10px;
    }

}